/* PADROES */

*{
    text-decoration: none;
}

html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    color: rgb(51,51,51);
    
}
a:hover{
    color: rgb(51,51,51);
}
a:visited{
    color: rgb(51,51,51);
}
a{
    color:rgb(51,51,51);
}

h1 {
    font-size: 6em;
}

body, head, footer {
    font-family: 'Darker Grotesque', sans-serif;
}

h2 {
    color: #DEB959;
    font-size: 3em;
    margin: auto;
}

h3 {
    font-size: 2.5em;
    margin: auto;
}

sub {
    font-size: 1.2em;
    font-weight: 300;
    line-height: 2em;
}
a:visited{
    color: rgb(51,51,51)
}

/* main */

.caption {
    font-size: 24px;
    line-height: 20px;
    width:461;
}

.headerNav {
    background-color: #85CDF5;
    padding: 0.3;
    color: rgb(51, 51, 51);
    font-size: xx-large;
    font-weight: 800;
}

.bannerLobo {
    background: url(../assets/lobo-big.png) no-repeat center;
    background-size: 150em;
    height: 730px;
    color: #FFFFFF;
    padding: 1%;
}

.loboSubtitulo {
    font-size: 1.8em;
    font-weight: 400;
    line-height: 0.8em;
    margin-left: 12em;
    margin-right: 12em;
    width:630px;
}

.centralizar {
    display: flex;
    align-items:center;
    flex-direction:column;
    text-align: center;
}

.caixa {
    padding: 30px;
    color: #FFF; 
}

.azul {
    background: #2C5680;
}

.cinza {
    background: #333333;
}

.verde {
    background: #7AAC3A;
}

.vermelho {
    background: #DE5959;
}

.caixaVazia {
    margin-top: 3em;
    padding-bottom: 7em;
    height: 50rem;
}
#caixaSomos{
    height: 43.2rem;
}
#caixaLista{
    height:100rem;
}
#caixaShow{
    height: 43.2rem;
}
#caixaAdotar{
    height: 50.2rem;
}


.margem {
    margin-top: 4em;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 5em;
}

.justifyContent {
    justify-content: space-around;
    align-items: center;
}

.separadorDir {
    margin-right: 3em;
}

.separadorCim {
    margin-top: 3em;
}

.margemSobre {
    margin-left: 8em;
    margin-right: 8em;
    font-size: 1.5em;
    font-weight: 300; 
}
.margemSobreSomos {
    margin-left: 8em;
    margin-right: 8em;
    font-size: 24px;
    line-height: 24px;
    font-weight: normal; 
    letter-spacing: 0.155em;
    width: 960px;
    height: 134px
}

.displayFlex {
    display: flex;
}

.flexColumn {
    flex-direction: column;
}

.listaVertical {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-around;
    align-items: center
}

.iconeValores {
    background-color: #FFF;
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    padding: 0.6em;
}

.pLista {
    padding: 0;
    margin-left: 3em;
    margin-right: 3em;
    font-size: 1.6em;
    font-weight: 300;
    line-height: 0.8em;
}

.loboSombra {
    box-shadow: -2em -2em #2C5680;
}

.loboSombraReverso {
    box-shadow: 2em -2em #2C5680;

}

.loboFoto {
    margin-top: 7em;
    margin-left: 7em;
    margin-right: 7em;
    display: flex;
}

.reverso {
    margin-top: 1em;
    flex-direction: row-reverse;
    text-align: right;
}

#caixaSobre{
    height: 333px;
}

/* CONTAINER ADOTA*/

.container{
	margin: 0 auto;
	width: 1200px;
	height: 50rem;
    margin-top: 3em;
    
}
.conteudo{
    display: flex;
    flex-direction: column;
}
.cabecalho{
    display: flex;
    flex-direction: row;
}
.redondo{
    width: 200px;
    height: 200px;
    left: 219px;
    top: 180px;
    
    border-radius: 100%;
}
#nomeLobo{
    width: 597px;
    height: 81px;

    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 81px;
}

.loboSubtitulo{
    display: flex;
}

.divDoForm{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin:16px;
    height:25rem;
}
.forms{
    width:72rem;
    height:10rem;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
    font-size: 30px;
}
.labelCampo{
    margin-bottom: 0;
    margin-top: 0;
}
.nomeIdade{
    display: flex;
    flex-direction:row;
}

.inputFormsMail{
    width:66.5rem;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 1;
    font-style: normal;

    font-size: 25px;    
}
#emailAdota{
    margin-top: 2rem;
}
.inputFormsNome{
    width:60rem;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 1;  
    margin-right: 30px;  
    font-size: 25px;    

}
.inputFormsIdade{
    width:4rem;
    border-top-width: 0;
    border-right-width: 0;
    border-left-width: 0;
    border-bottom-width: 1;    
    font-size: 25px;    

}
.azulBotao{
    width: 209px;
    height: 60px;
    background: #2C5680;
    border: 1px solid #333333;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #FFFFFF;
}
.divBotao{
    position:relative;
    left:27rem;
    top:5.5rem;
    
}

.botaoShow {
    width: 150px;
    height: 56px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #FFF;
    border: 0;
}

#showNomeLobo{
    margin: 1em;
    font-family: 'Roboto', sans-serif;
}

#showDescricaoLobo{
    margin-top: 0;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
}
/* LISTA DE LOBINHOS */
.section1{
    height:5rem;
    width:91rem;
    margin-top:2rem;
    margin-left: 14rem;
}
.barraDePesquisa{
    width:81rem;
    height:47px;
    Top:163px;
    Left:221px;
    background:url(..assets/lupinhaSemFundo.png) no-repeat left;

    height: 47px;
    left: 221px;
    top: 163px;
    margin-right: 20px;
    margin-bottom: 10px;

    font-size: 25px;

    border: 1px solid #333333;
    box-sizing: border-box;
}

.checkboxLista{
    width: 300px;
    height: 33px;
    left: 264px;
    top: 228px;

    font-family: Darker Grotesque;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
/* identical to box height */

    display: flex;
    align-items: center;   
}
.checkbox{
    margin-right: 23px;
}
.botaoDePesquisa{
    width: 130px;
    height: 47px;
    background: #DEB959;
    border:0px solid;
}
/* COLOCAR PRA ADOTAR */

.corpoDaPagina{
    height: 1100px;
    display: flex;
    justify-content:space-around;
    align-items:center;
}

.quadrado-grande{
    width: 958px;
    height: 874px;
    top: 180px;
    display: flex;
    align-items:center;
    flex-direction: column;
    justify-content: space-around;
    background: #FFFFFF;
    border: 4px solid #333333;
    box-sizing: border-box;

}
.titulo{
    font-weight: 600;
    font-size: 60px;
    line-height: 81px;
    text-align: center;
}
.titulo-do-input{
    font-weight: 500;
    font-size: 30px;
    line-height: 41px;
}
.nome-e-idade{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
#input-do-lobinho{
    background: #E6E6E6;
    border: 1px solid #333333;
    box-sizing: border-box;
    width: 564px;
    height: 39px;
    margin-right:20px;
    font-size: 25px;
}
#input-idade{
    background: #E6E6E6;
    border: 1px solid #333333;
    box-sizing: border-box;
    width: 177.14px;
    height: 39px;
    font-size: 25px;
}
#link-da-foto{
    background: #E6E6E6;
    border: 1px solid #333333;
    box-sizing: border-box;
    width: 760.98px;
    height: 39px;
    font-size: 25px;
}
#descricao{
    background: #E6E6E6;
    border: 1px solid #333333;
    box-sizing: border-box;
    width: 760.98px;
    height: 250px;
    font-size: 25px;
}
/* RODAPE */

.rodape{
    display:flex;
    vertical-align: baseline;
    background:rgb(51,51,51);
    color:aliceblue;
    border-top-style: solid;
    border-image: linear-gradient(88deg,rgb(222,182,89),rgb(45,86,128)) 1;/*linear-gradient(88deg,#1100ff -38.42%,#ff0000 150.39%) 1;   linear-gradient(88deg,rgb(222,182,89),rgb(45,86,128)) 1*/
    border-top-width: 0.5rem;
    padding:20px;
    align-items:center;
    justify-content: space-evenly;
    height:300;
    font-size: 20px;
}
.juntar{
    display:flex;
    justify-content: flex-end;
}

#endereco{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
}
#mapa{
    width:340px;
}
.ladoDoMapa{
    width:400px;
}
.icon{
    margin-right:10px;
}
.quemSomos{
    width:130px;
    height:30px;
    background: rgb(222, 185, 89);
    border:0;
    color: rgb(51,51,51);
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.patinha{
    display:flex;
    flex-direction:column;
}
#mainGrande{
    height:5140rem;
}